---
title: First week
tags: Life
---

My first week on the outside was thoroughly enjoyable and satisfying.  Working for yourself somehow seems more honest, you know precisely what you have done and accomplished and are completely accountable for what you produce.

READMORE

## Inspire9

<div class="media frame"><%= image_tag "journal/lift.jpg" %></div>

The LOLivator works pretty hard and requires a rest often. If you push this hard worker over the edge on a Friday the lights will go out.  The door isn't too heavy though so can claw your way out.

It's got a bit of charm, don't you think?

<div class="media frame"><%= image_tag "http://www.yellowshoe.com.au/journal/wp-content/uploads/2012/01/office.jpg" %></div>

I'm still finding my way around the new office but it's filled with friendly, intelligent people making interesting things for the web.  It looks and feels like a great place to build things with a good mix of skills and expertise.

I did manage to find one PC in the office. I can only assume it's there for testing things in Internet Explorer, what else would it be used for?

## Sights & sounds

<div class="media frame"><%= image_tag "http://www.yellowshoe.com.au/journal/wp-content/uploads/2012/01/ass.jpg" %></div>

- The local coffee is quite good.
- It's just 10 minutes from home, I might even borrow one of my house mates *twelve* bikes and ride in.
- Good taste in music, though I can't help visualizing [The Lonely Boy](http://www.youtube.com/watch?v=a_426RiwST8) whenever I hear the iconic Black Keys song.
- A [MakerBot](http://www.makerbot.com/) was delivered to the office.

## Business
I'm not flippant with work if I've made a commitment to it, but business is all secondary to that other stuff for me at the moment.
Right now, I'm optimizing my life for happiness, health & study.

I did manage to pick up two small jobs this week after recommendations from earlier work - *which I am very thankful for*.

## Coda
I've got a few leads to follow up on, and it looks like some work done this week will lead to some more.  I realise it's <em>very</em> early days still, but, going out and walking my own path hasn't been all that scary and I have zero regrets so far.

*Carpe Diem* baby.