---
title: Vipassana
tags: Life
---

Vipassana Meditation, The Art of Living<br>As taught by S.N.Goenka

READMORE

A friendly nomadic German generously sent me a copy of this book in the mail, it's a short 150 page book explaining the how's and why's of Vipassana meditation.

I have been wanting to learn more about meditation for a while now, ever since reading <a href="http://www.two-shay.com/articles/mindful-march">@xshay's post</a> I suppose.  Ryan Singer's <a href="http://www.offscreenmag.com/issue1/">OffscreenMag article</a> and Steve Jobs biography also encouraged me to look more closely at it.  These three gents are more intelligent, more skilled and more balanced than most.

My first surprise was finding that this form of Buddhist meditation wasn't religious at all.  It asserts that suffering is caused by not understanding our own reactions - the reaction to pleasant sensations is craving, our reaction to unpleasant sensations is aversion.  The meditation itself focuses on breath and progresses to focusing on sensations in every part of the body, one at a time.

The aim of the meditation is to become aware of how our mind behaves, by trying to focus on one thing only(breath coming out of the nostrils) we become aware of all of the different sensations but we don't react to them.
As I understand it, the purpose of Vipassana is to simply observe ourselves to train our minds to focus, so that rather than reacting to our senses without understanding, we can simply recognize the sensation and choose how to respond.

It also includes some basic teaching on morality and encourages us to keep a pure mind:

1. to abstain from killing any living creature
1. to abstain from stealing
1. to abstain from sexual misconduct
1. to abstain from false speech
1. to abstain from intoxicants

One part of the teaching that really resonated with me was teaching that we have only ourselves to blame for our unhappiness and suffering because it originates in our mind.  If we stop reacting to unpleasant sensations or wrongs that we feel have been made to us we can simply recognize them from a distance and move on.  No need to carry them with us and continue our suffering.

I'm willing to give the practical aspects of Vipassana a shot and see what I can learn about myself in the process of meditation, one of the real attractions to me is it's simplicity.  I consider myself a happy person, but I would like to have greater control over how I react.
