---
title: Burger
tags: Food
---

In the last three weeks I've been to Misty's, NSHRI, Huxtaburger, Andrews & Grill'd, I love a good burger, but I make an even meaner one.

READMORE

## A Hot Burger
<div class="frame"><%= image_tag "journal/burger.jpg" %></div>

## Ingredients

### Patties

- Beef Mince
- Onion
- Ga
- Rosemary &amp; Thyme
- Breadcrumbs
- Worcestershire
- Tabasco
- Salt &amp; Pepper

### Toppings
- Toasted buns
- Lettuce
- Tomato
- Tasty cheese
- Bacon
- Baxters Tomato Relish
- Mayonnaise
- Beaver Brand Jalapeno mustard

The Jalapeno mustard / mayo / tomato relish makes this one Tasty Burger.  
And, it works out to about $2.50 per burger.
