---
title: Internet Explorer
tags: Life
---

Building web sites is more enjoyable to me now thanks to team, tools, process and more capable browsers.  I really enjoy my work.

READMORE

I have a confession to make, I don't care much for Internet Explorer.
I want my work to be as enjoyable as possible, I create better things that way and will live longer.

An enjoyable day of work is:

- not having to wake up to an alarm
- espresso
- a casual ride along the Yarra
- friendly faces
- good music
- good food
- learning something new
- working with well designed things
- working with <a href="https://twitter.com/wernah">@wernah</a> designed things
- having machines work for you
- solving a problem
- deleting code
- not wasting time

This is what my average day looks like and it's lovely.  I work on a macbook pro with Ruby, Rails, Sass &amp; Compass, CoffeeScript and excellent browsers i.e. Tools and frameworks that make me happy and keep me from repeating myself.  Programs and machines do the repetitive things far better than me so I let them and then thank them for their efforts, praising them to my fellow humans.

I've been consciously working on removing things from my workflow that aren't pleasant or enjoyable.  I have no time for things that require too much effort to achieve too little.  I want to get as much done as a I can with as little effort, and I want to enjoy doing it too.
I suppose this is why I never open up Windows, though I am interested in IE10 and Windows 8.

All of my development work is done in Firefox and Chrome.  When I release something, <em>most of the time</em> I will open up a VM with IE8 and 9 with the aim of making it work and then getting the hell out of there.
zoom: 1, position: relative or float: left will fix things in IE.
Learn about "hasLayout", it will help you get out of there sooner.

If it's CSS3 that's difficult to provide a fallback for, take a deep breath and throw a <a href="http://css3pie.com/">PIE</a> at it. Seriously.
With Sass and Compass you simply include it on the problematic elements and <a href="http://www.youtube.com/watch?v=r8L39UwOS-Y">Boom</a>, <a href="http://twitter.com/chriseppstein">Chris Eppstein</a>, <a href="http://twitter.com/lojjic">Jason Johnston</a>, thank you.

```css
.hawt-element {
  @include pie;
}
```

I use shims and poly-fills cautiously but I have no problem throwing these types of scripted band-aids at Internet Explorer, it throws off the feng shui in my zen garden.
