---
title: Back to work
tags: Life
---

I signed my life away to <a href="https://twitter.com/inspire9">@inspire9</a> today, I'm very happy to be working in such an amazing community and look forward to my work there.

READMORE

<div class="frame"><%= image_tag "journal/i9.jpg" %></div>

## Leaving full-time employment

Leaving my job was the best thing I have done for my career and personal development.  
Being unemployed without a plan is a very freeing and revealing thing, you are forced to ask those important questions like "What do I want to be doing with my short time left on the planet?" and "What do I want my work to accomplish?".

I haven't yet answered either of those, but having some free time on my hands I was able for the first time in a long while choose what I wanted to work on.  I set very simple, achievable goals for myself - I would linger around Inspire9, take on some freelance jobs to support myself and study.  For a year I would see if I could sustain myself and work on my craft, I also wanted to work along side talented people I could learn from.

## Client work
I love working directly with clients, being able to contribute to a design, offer advice across wide areas(staffing, ux, design, development, workflows, timelines, marketing etc.).  I like the fact that small clients are small, they have more riding on their projects being successful and I like being able to contribute to that success.

I will continue to take on client work wherever I can.

## Extremely fortunate
I feel extremely fortunate to be working on the web, in Melbourne.  There is a huge amount of good work available, I thought this would be the case but I was still surprised at the amount.  If you feel that you could be doing something more satisfying with your time, leave.

I only worked with four clients in my short time as a freelancer, two of those clients offered me ongoing work for the rest of the year that I've gladly accepted.
