---
title: Death
tags: Life
---

This is proving difficult to write as I have no clear thoughts on what I truly believe or think about death, it's all a bit hazy.  Perhaps by the time I'm done writing this rambling piece I won't be pestered by it quite so often.

READMORE

Without wanting to sound creepy, I think about death a lot.

For me, breaking the mould of routine has always triggered fresh thoughts on life and death.
When I have moved on and not known where I'm headed I ask a lot of questions, these questions force me to make conscious decisions about my future.

Death motivates me to begin new things.
This will sound exceptionally lame, but when Steve Jobs died I decided to quit my job of four years.  It is an uncomfortable reminder that our lives are indeed a vapour, we are here for only a moment and then we leave.

Death presents someone's life to me as a short, singular entity with a sure end.
I replay memories, perhaps writing some of the dearer ones down.
If you forget interactions with someone who has passed away, those moments are lost forever.  Our lives are the cumulation of these sorts of simple interactions, we mustn't forget them.

My favourite relative passed away last week.  Winnie wasn't a direct relative, she was my mother's father's brother's spouse.  I only remember meeting her a dozen times or so, but I loved her.  I loved her joyfulness and the excited way she reached out to greet me when I said hello at Christmases and birthdays.  Her beaming smile and laugh was infectious, she expected nothing from me, she seemed perfectly happy simply to exchange smiles and share each others company.

Time had done it's work and taken most of her eyesight and mobility, so she held my hands and found her way around my fingers like a blind person would to recognise and acknowledge another.
I will miss her.

Death makes me sit up and take notice, of life's simple interactions and also the bigger questions like our life's work, legacy and meaning.

Ecclesiastes is an exploration of the meaning of life, the final chapter concludes with an exploration of aging and ultimately death.

<q><span style="text-align:left">
when the keepers of the house tremble,<br>
&nbsp;&nbsp;&nbsp;&nbsp;and the strong men stoop,<br>
when the grinders cease because they are few,<br>
&nbsp;&nbsp;&nbsp;&nbsp;and those looking through the windows grow dim;<br>
when the doors to the street are closed<br>
&nbsp;&nbsp;&nbsp;&nbsp;and the sound of grinding fades;<br>
when people rise up at the sound of birds,<br>
&nbsp;&nbsp;&nbsp;&nbsp;but all their songs grow faint;<br>
when people are afraid of heights<br>
&nbsp;&nbsp;&nbsp;&nbsp;and of dangers in the streets;<br>
when the almond tree blossoms<br>
&nbsp;&nbsp;&nbsp;&nbsp;and the grasshopper drags itself along<br>
&nbsp;&nbsp;&nbsp;&nbsp;and desire no longer is stirred.<br>
Then people go to their eternal home<br>
&nbsp;&nbsp;&nbsp;&nbsp;and mourners go about the streets.<br>
</span></q>
