---
title: Bad presentations
tags: Life
---

I gave a <a href="http://vimeo.com/68351277">god-awful presentation</a> last week at <a href="http://melbjs.com/">MelbJS</a>.  It was actually the second time I gave the presentation on d3 and it was a little worse than the first time, which was also bad.

READMORE

### Giving a bad presentation is still worthwhile
It means that you're wanting to share something that you're interested in and you are willing to be outside of your comfort zone.  One of the things I like most about working on the web is that ideas are so freely shared, we should all try to contribute where we can.

### It gives you a chance to work on valuable skills
I didn't realise the presentation would be recorded but I'm glad it was.  It seems that talking and sharing are important skills.

### Keep them short
Bad short presentations can be forgiven  
Bad long presentation are terrible  
Good short presentation are great  
Good long presentation can be boring

### Learning

- One slide per idea, don't use a lot of text
- Break up slides with examples, something visual and a minimum of 3 jokes
- Large titles let you focus on speaking, rather than focusing on reading
- Practice by recording yourself
- Keep trying and improving

So, give a presentation and make some visualisations with d3.
