---
title: Balance
tags: Life
---

Near the end of a four year stint in a corporate environment I took four weeks holiday by the beach. I relaxed, played guitar, prayed, treated acne, ate well and exercised with running, push ups and sit ups.  It was a great time of recovery and healing and I started feeling better about myself and more healthy in the process.

READMORE

When I returned back to work one of my managers looked at me, surprised and laughing, saying "You look so healthy!.. I guess a holiday will do that".  And I *was* healthier.  Up until that point my work and church had been my life, even church had become work where I served as a leader in youth group, worship team, and later the leadership team.  Study and music were my only escape from my work, I enjoyed the creative and intellectual stimulation that they brought and they made me feel.. more balanced.

- I joined Inspire9 in December, 2011 and my work life changed considerably.
- I left my church of ten years and moved in with two high school mates and their partners near the city but far enough out of the smog for it to be enjoyable.
- I was a beginner again.
- I rested and played often by going to St Kilda beach or eating out with friends.
- I bought a bicycle and began riding to work whenever the sun was out.

It took me a little while to actually enjoy exercise other than riding but I got there in the end.  There's a large group interested in fitness at inspire9 and they encouraged me to start running, now I love it.  Recently I was inspired by the gymnastics of Cirque du Soleil and <a href="http://www.youtube.com/watch?v=aLogFAbTlDI">Ido Portal's thoughts on movement</a>.  I'm riding and running regularly and practicing my handstands most days, the stretches and strength exercises make me feel healthier, happier and more balanced.  I attended Yoga for the first time last week and instantly enjoyed it, even though I found it difficult.

Lastly but certainly not least there is a good woman in my life.  Trish is honest, kind and beautiful, we laugh often and comfort each another.  I like her a lot.

Right now, I feel I am living a more balanced and healthy life than I ever have:

- A balance in my physical body and spirituality.
- A balance in intellectual study and artistic expression.
- A balance in my relationships and my work.

