---
title: Abroad
tags: Life
---

I describe travel as one of the greatest privileges and educators, indeed I hope to continue traveling and learning from different cultures and histories for as long as my legs will carry me.  Still, after a three month trip through India and Nepal and another five months in the Philippines I find myself missing home.

READMORE

<div class="media max"><%= image_tag 'journal/india.jpg' %></div>

I found Indian's to be playful yet fond of intellectual argument, the sub-continent boasts a wealth of UNESCO World Heritage Sites and it's spiritualism touches every part.  India is a fascinating place that I would love to see again one day.

For someone very interested in understanding world religions and spirituality I found it to be a treasure housing every major religion in the world, fundamental to this diversity is the Indian's deep tolerance of others.
One clear demonstration of India's religious harmony are the caves of Ellora - home to 34 Hindu, Buddhist and Jain cave temples.  For more than a two kilometer stretch these ancient temples of the three religions rest side by side peacefully, in my mind I could hear the songs of a hundred monks with hammer in hand chiseling and chanting.

Being adopted by a group of friends in Hyderabad was an experience I won't forget either, meeting their families and being taken to their hangouts I learned of the Indian's love for his friends, their hospitality and sentimentality.

Indian food was healthy and delicious pretty much everywhere, I half expected to be eating the westernized Indian take out I was used to - Naan slathered in butter and heavy Punjab curries.  Instead, I found healthy vegetarian curries and Dosa, spicy Biryani's and enjoyed the ritual of sharing Masala Chai, brewed in the freshly squeezed milk from the cow that just passed.

<div class="media max"><%= image_tag 'journal/nepal.jpg' %></div>

The Himalayas are breathtakingly beautiful, resting after a full day of trekking at the worlds peak with fresh Momo and Dal Bhat is as good for the soul as it is for the body.  I remember the relief that I felt each day we reached our destination and warming myself by the fire, chatting with fellow trekkers, our friendly guide and porter.  The physical aspect is challenging and the solitude helps to separate you from your life back home, making your mind still to better appreciate the natural wonder of the mountains.  Trekking in Nepal is wonderful rewarding experience and one of the most naturally beautiful places on earth.

<div class="media max"><%= image_tag 'journal/philippines.jpg' %></div>

Filipino's are carefree, good natured, inclusive and know how to have fun.  They need little more than a basketball ring stapled to a tree and some rice to get by.  Everyone sings whenever there's opportunity, there's no need for a fancy videoke machine though they're appreciated.  Fiesta's and pageants get everyone together for a good laugh and no one worries about offending anyone by calling them fat or telling them they have no neck.  Another oddity is how they celebrate and encourage gays, just last week we attended the local Miss Gay 2014 (a pageant for ladyboys) - the highlight for me was when one them chair surfed in high heels into a cartwheel finishing on the floor with a splits.  There's so many ridiculous things here that you find yourself laughing, surprised and often shocked by what you see.

And, the mangos and baby back ribs are delicious.

## Working abroad
Given my love of travel you may think that I chose to work abroad whilst traveling around the Philippines, that's not the case.  In fact, the idea of traveling around whilst working has never really appealed to me.  I had always aimed to separate my travel from my work so that I could be completely present at any given moment, I don't want my travel experience to be diluted or for my work to be broken up into chunks of time.  Travel for me is a rejuvinating escape from my work and I want to protect that aspect of it.  Life had brought me here because I wanted to be with my gal who had taken up a volunteer position, and remote work enabled me to be here without sacrificing my work as well.

Working from home is often glorified but personally I haven't found it to be ideal. I've had to work much harder to achieve a good work / life balance from home, interruptions happen frequently and it's easy to mis-communicate with my colleagues back home, my physical fitness has fallen through the floor and I have a tendency to overwork leaving me depleted at the end of the day.  These types of issues are discussed in detail in [Remote - office not required](http://37signals.com/remote/)" and I know that I can do things to help with each of these areas, it's an issue of discipline for the most part.  However, working alone from home simply isn't as fun or motivating for me as being amongst a room full of passionate people.

The environment where I find myself comes with it's own challenges too, the temperature is consistently in the mid 30 degrees, there are short but regular power / internet / water outs, and there's niggling annoyances like getting extremely itchy after showering and tummy bugs.  These small things taken together can be frustrating when you require long stretches of focused effort to complete a task.

Remote work is wonderful though! It's enabled me to be here with someone I love and despite my gripes with my working environment I've had a lot of fun whilst I've been here.  I'm thankful to [Adioso](http://adioso.com/) for enabling me to work away from home and look forward to seeing the team in person again in a few more months.  Whilst I appreciate all of the benefits and freedom of remote work I find it much more satisfying and simpler being close to my team.

## Home

I've had some eye opening experiences in India, Nepal and the Philippines and wouldn't pass them up if given those choices again.  I'm becoming more mindful of the sacrifices that I make when I do travel though.  In four months I'll be home again, and happy to be so.

- Seeing my two year old nephew and maybe with a little conversation this time
- Riding around on my bicycle looking for coffee and hamburgers
- Catching up with friends and family
- Working closely with my team and friends at the office
- Eating a wonderful selection of food
- Shedding my stay-at-home pot belly

I'll be appreciating all the comforts of home and enjoying my work at the best work environment I know.
