---
title: Barefoot
tags: Life
---

I am a big fan of the <a href="https://barefootinvestor.com/">Barefoot Investor</a>, this entertaining and helpful book gives simple step by step instructions that any Aussie can follow to become financially secure.  His advice is sound and will help you to protect yourself and your family.

I've always hated thinking about money, almost as much as taxes.  I was content with less and avoided debt like the plague, I've never owned a credit card.  Yet, I thoroughly enjoyed reading and applying the Barefoot strategy because it helped me put our finances on autopilot.

READMORE

Here's a summary of his strategy:

# Plant

**Setup your accounts** - Rather than budgeting, split your income into four categories as it comes in to limit your spending.

2 Everyday accounts:

- **Daily Expenses**: 60% of income.  Used for living expenses like food, transport and insurance.
- **Splurge**: 10% of your income. Spend guilt-free on whatever makes you happy.

3 Savings accounts:

- **Smile**: 10% of your income.  Used for bigger things like holidays and weddings.
- **Fire Extinguisher**: 20% of your income.  This is used for paying off debts and saving up a deposit.
- **Mojo**: Cash at hand for emergencies: $2,000 to start.

**Get your Super sorted** - Go with the lowest fee paying Index Fund you can find.

**Get your Insurance sorted**

- Top level hospital cover with a $500 excess through private health insurance.
- 12 times your annual salary of combined Life and TPD plus Income protection for 75% of your wage til you reach 65 through your super.

**Eliminate your debts** - Re-negotiate and pay off any debts from smallest to largest with your Fire Extinguisher.

# Grow

**Save a 20% deposit** on your home loan with your Fire Extinguisher.

**Buy your home**

**Boost your Super to 15%** - Add an additional 5.5% with pre-tax salary sacrifice.

**Boost Mojo to 3 months Daily Expenses** with your Fire Extinguisher.

# Harvest

**Pay off your mortgage** with your Fire Extinguisher.

**Re-nogitiate home loan** when you've paid off 20% of the loan.

**A working retirement plan** - Earn 67k per year with 250k in super.

- Earn 20k from work
- 34k from Age pension
- 13k from Super pension

**Boost Mojo to 3-5 years of daily expenses** with Fire Extinguisher into Super cash account.

--

Additional steps:

**Investment Bonds with a SMSF Lite** through your super.

**Write your will and detail all accounts** for your family.

**Be generous** and leave a legacy.

--

Read the book!
