---
title: Two years in Europe
tags: Life
---

On June 8, 2016 Trish and I moved to London on a Youth Mobility Visa for two years, it was great!

READMORE

<div class="media max"><%= image_tag 'journal/london.jpg' %></div>

We based ourselves in South London, Trish had a few friends around the Clapham / Brixton area that we stayed with during our first few weeks in London.  Trish started work with Visit Victoria the day after we landed, I had a few good leads from friends and after a few interviews joined [Equal Experts](http://equalexperts.com/), a successful agile consultancy.

Here's a few things I'll miss:

- London summers are the best summers - Many evenings were spent in the parks and commons in sunny 19 degree weather. The sun is up from 5am to 9:30pm leaving plenty of time after work for drinks in the park with friends.
- The accents & languages - One of the most multi-cultural cities in the world.
- The free museums and galleries - Make good on Britain's centuries of looting and colonising.
- The pubs - Beers come warm and cheap, the bars are cosy and charming and the bitter will grow on you.
- Entertainment - Theatre, outdoor/undercover cinema, music and food festivals, ice skating.
- Travel opportunity - Having never been to Europe before we were kids in a candy shop away on weekend trips every fortnight.  A cheap fare and an hours travel and you're in a different country, Australia is very isolated in comparison.

London is a transient city, It seemed that the majority were living here only temporarily, like us.

## Adolescence

I've grown up a lot these last two years, learning a lot of history along the way.
Trish and I have been on over fifteen walking tours through European cities and visited over forty museums & galleries. We travelled with friends and created lasting memories of beautiful parts of the world with good people.  Food tours and galleries were highlights but so were the places marked by death like Auschwitz and Gallipoli.

We visited [over thirty countries](/travel/#europe) and took more extensive road trips around these:

- England, Ireland, Scotland
- Italy
- Spain
- Morocco
- Estonia, Latvia, Lithuania
- Turkey

The UK countryside, Italy, Greece & the Netherlands were some of our favourite places to relax.  My work was stress-free and I was able to make valuable contributions to teams that respected each other.

## The good life

I don't expect I'll be travelling as much in the coming years and I'm totally fine with that, I should be so lucky as to call Australia home.  These are the things I'm looking forward to for a happy life:

- Good food & friends
- More time with family
- More music & art
- A dog
- A vegetable and herb garden
- An exercise room
- No money problems
- Panettone
