---
title: Money
tags: Life
---

This is simply how me and my partner think about money, our overall strategy and the lessons we've learned over the past few years.

It's not personal financial advice.  Your situation could be different to mine and you might have different goals.
Still, I think there's valuable lessons in here that could apply to many different situations, otherwise I wouldn't be sharing it.

READMORE

Life is full of uncertainty.

While there's a lot we can't control, you _can_ control how you spend, save and invest money.  Up to a certain point, It can have a big impact on your wellbeing.  Being good with money can give you options when you are faced with difficulties like a recession, big unexpected expenses, losing a job or getting sick.
And ultimately, you have more freedom to choose where you spend your time when you have cash at hand and passive income.

## Overall strategy

The [Barefoot Steps](https://www.barefootinvestor.com/) are the primary strategy me and my partner use.  It’s a low risk strategy with a strong focus on savings and debt reduction:

- Automate your savings by splitting your pay as it comes in
- Put your Super in a low-cost index fund
- Insure yourself against things that will sink you financially
- Keep a cash buffer for emergencies
- Eliminate your debts
- Save up a 20% deposit and buy a home
- Make extra contributions to super
- Pay off your mortgage and re-negotiate to keep paying the lowest variable rate

Beyond this we are investing in shares outside of super:

- 15% at the start of the pay cycle
- Anything left over at the end of the pay cycle
- We plan to invest in larger chunks when there's a discount

We have modest achievable goals:

- Own our home
- Have no debts
- Have a sustainable growing income stream
- Have a large amount saved up in super for retirement

We don't budget but we do track our progress at start of the month.

## Inflation

Money becomes less valuable over time.  The future is going to be very expensive.

If you saved up **$10,000** in 1970 and parked in a bank account in ten years time it would only have retained 37% of it's value.  By 1990 it would only be worth 17% as much!

You'd still have 10k in the bank but it would buy you far less:

- In 1980 you would need **$26,956.52** to buy something of equal value.
- In 1990 you would need **$58,772.37** to buy something of equal value.

This is because inflation went through the roof over these two decades.

<div class="frame">
<%= image_tag 'journal/money/RBA-graph-of-the-year-ended-percentage-change.svg' %>
</div>

The RBA's [Inflation Calculator](https://www.rba.gov.au/calculator/annualDecimal.html) shows how the value of the Aussie dollar has devalued over time.

I picked the two worst recent decades to prove a point that high inflation is scary and can throw your savings plan out the window.  Inflation these days is targeted to remain between 2-3% per year.  That means that if your money isn't increasing by at least that rate you're _losing_ value.  That's the reason we need to invest in other asset classes.

## Assets

Buying assets that appreciate in value like property or generate an income like shares in a business greater than the rate of inflation is key to becoming and staying wealthy over time.

<div class="frame">
  <a href="https://intl.assets.vgdynamic.info/intl/australia/documents/resources/index_chart_poster_2021.pdf">
    <%= image_tag 'journal/money/vanguard.png' %>
  </a>
</div>

The [Vanguard Index Chart](https://intl.assets.vgdynamic.info/intl/australia/documents/resources/index_chart_poster_2021.pdf) shows the growth of $10,000 over 20 years with no acquisition costs or taxes and _all income reinvested_ into different asset classes.

There's short term fluctuations and a few crashes. It's still clear to me when looking at these with the perspective of time that Shares, Property and Bonds have all grown faster than inflation shown as the red line at the bottom for CPI.

I see investing in quality _businesses_ as the clear winning asset.
I'm sure the businesses of tomorrow will continue to earn profits.
Personally, I'm 100% invested in shares inside and outside of super as opposed to other "safer" assets like Bonds and Cash.

## Compound interest

That "all income reinvested" part above is key.  Without this you lose out on compound interest, the effect of earning interest on your interest over time.  In my view the best kinds of investments are those you can hold for the long term, growing slowly at first but snowballing into very large amounts by re-investing the income.

The light blue bars at the top are the _growing_ interest payments over time.  Even though you're putting in the same amount of money each month you're receiving more income from your investments as time goes on.

<div class="frame">
  <%= image_tag 'journal/money/compound-interest.svg' %>
</div>

Money Smart's [Compound Interest Calculator](https://moneysmart.gov.au/budgeting/compound-interest-calculator) shows the effect of _time_ and _re-investing_ the income.

## How we save and invest

Before we are paid we salary sacrifice to Super, as much as we can up to the concessional cap.  This is a sure way to build up a tidy sum for retirement, paying less tax and putting our saving on autopilot.  My Super is 100% invested in shares.

After we are paid 15% goes towards the mortgage.  This is a conservative move at a time with rock bottom interest rates around 2%.  We could chase greater gains elsewhere but this is working towards our goal of being debt free and provides us with some safety.

We send another 15% into Aus, US and international shares through index-tracking ETFs.  By doing this we are owning a growing slice of the most profitable businesses around the world.  We receive dividends from these businesses quarterly and re-invest them.  This is growing a sustainable passive income stream, I don't ever plan on selling these.

We move 10% into a saver for holidays.  I don’t count this as savings, it's really just delayed spending.  It's something that we _intentionally_ and happily spend on.

Any excess at the end of the month we invest.  And if there's a crash we'll buy more shares at a discount with money available in our Redraw.

## Tracking

We don't budget.  We automate our savings instead as explained above.

On the first of the month we _do_ take a look back on the previous month though. Noting the value of all income, debts, and assets.  We take a quick look through our spending and saving habits to keep ourselves accountable.

This takes around 10 minutes.

These are some example numbers to show what it looks like.

<div class="table-wrap" style="font-family: Monaco, monospace; font-size: 12px">
<table style="margin-bottom: 20px">
  <tr>
    <th>Income</th>
    <th>Nov 1, 21</th>
    <th>Dec 1, 21</th>
  </tr>
  <tr>
    <td>Salary</td>
    <td>10,000</td>
    <td>10,000</td>
  </tr>
  <tr>
    <td>Dividends</td>
    <td></td>
    <td>150</td>
  </tr>
  <tr>
    <td>Interest</td>
    <td>10</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Other</td>
    <td>150</td>
    <td>500</td>
  </tr>
  <tr style="height: 20px"></tr>
  <tr>
    <th>Debt</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>Mortgage</td>
    <td>428,000</td>
    <td>425,000 <b style="color: rgb(120,166,90)">(-3,000)</b></td>
  </tr>
  <tr style="height: 20px"></tr>
  <tr>
    <th>Assets</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>House Equity</td>
    <td>202,000</td>
    <td>203,000 <b style="color: rgb(120,166,90)">(+1,000)</b></td>
  </tr>
  <tr>
    <td>Redraw</td>
    <td>70,000</td>
    <td>72,000 <b style="color: rgb(120,166,90)">(+2,000)</b></td>
  </tr>
  <tr>
    <td>Super</td>
    <td>200,000</td>
    <td>202,000 <b style="color: rgb(120,166,90)">(+2,000)</b></td>
  </tr>
  <tr>
    <td>Cash</td>
    <td>10,000</td>
    <td>11,000 <b style="color: rgb(120,166,90)">(+1,000)</b></td>
  </tr>
  <tr>
    <td>Shares</td>
    <td>20,000</td>
    <td>22,000 <b style="color: rgb(120,166,90)">(+2,000)</b></td>
  </tr>
  <tr style="height: 20px"></tr>
  <tr>
    <th>Net Worth</th>
    <th>$502,000</th>
    <th>$510,000 <b style="color: rgb(120,166,90)">(+8,000)</b></th>
  </tr>
</table>
</div>

<div class="frame">
  <%= image_tag 'journal/money/rolling-networth.png' %>
</div>

We visualise our cash flow and asset growth and can easily understand how our overall strategy is working.

## Cashflow

I am not concerned about fluctuations or crashes in the share price, in fact I'm looking forward to them for the opportunity to buy at a discount.

Rather than the share price, we watch the growing dividends over time.  This validates the strategy and provides passive income to re-invest.

The share price is only important at the time you want to sell, which I don't plan to do.

## Time in market

We've been _ok_ with money in the past.
We've always been able to save, avoided debt and haven't spent big on depreciating assets like cars.
My biggest mistake is putting so little into Super and other investments when I was young and freelancing.  I’m 35 now and are really only just getting started building a passive income stream.

This example from the Barefoot investor really struck home that it's simply time that has biggest impact on good investments.

**Scenario:**

You invest $5,000 every year for **10 years** and then stop.  You’ve invested a total of $50,000.

Your friend then starts investing $5,000 every year for then next **35 years**. They invest a total of $175,000.

The investment earns a consistent return of 10% (which is actually less what shares have returned over the past 30 years).

The end result is that your investment grows to be worth over **1 million** dollars more than your friends.  _That’s_ the power of time and compound interest.

<div class="table-wrap" style="font-family: Monaco, monospace; font-size: 12px">
<table style="margin-bottom: 20px">
  <tr>
    <th width="30">Age</th>
    <th width="120" colspan="2">You invest</th>
    <th width="120" colspan="2">Your friend invests</th>
  </tr>
  <tr>
    <td>15</td>
    <td>$5,000</td>
    <td>$5,500</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>16</td>
    <td>$5,000</td>
    <td>$11,550</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>17</td>
    <td>$5,000</td>
    <td>18,205</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>18</td>
    <td>$5,000</td>
    <td>$25,526</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>19</td>
    <td>$5,000</td>
    <td>$33,578</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>20</td>
    <td>$5,000</td>
    <td>$42,436</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>21</td>
    <td>$5,000</td>
    <td>$52,179</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>22</td>
    <td>$5,000</td>
    <td>$62,897</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>23</td>
    <td>$5,000</td>
    <td>$74,687</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>24</td>
    <td>$5,000</td>
    <td>$87,656</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>25</td>
    <td></td>
    <td>$96,421</td>
    <td>$5,000</td>
    <td>$5,500</td>
  </tr>
  <tr>
    <td>26</td>
    <td></td>
    <td>$106,064</td>
    <td>$5,000</td>
    <td>$11,550</td>
  </tr>
  <tr>
    <td>27</td>
    <td></td>
    <td>$116,670</td>
    <td>$5,000</td>
    <td>$18,205</td>
  </tr>
  <tr>
    <td>28</td>
    <td></td>
    <td>$128,337</td>
    <td>$5,000</td>
    <td>$25,526</td>
  </tr>
  <tr>
    <td>29</td>
    <td></td>
    <td>$141,171</td>
    <td>$5,000</td>
    <td>$33,578</td>
  </tr>
  <tr>
    <td>30</td>
    <td></td>
    <td>$155,288</td>
    <td>$5,000</td>
    <td>$42,436</td>
  </tr>
  <tr>
    <td>31</td>
    <td></td>
    <td>$170,816</td>
    <td>$5,000</td>
    <td>$52,179</td>
  </tr>
  <tr>
    <td>32</td>
    <td></td>
    <td>$187,898</td>
    <td>$5,000</td>
    <td>$62,897</td>
  </tr>
  <tr>
    <td>33</td>
    <td></td>
    <td>$206,688</td>
    <td>$5,000</td>
    <td>$74,687</td>
  </tr>
  <tr>
    <td>34</td>
    <td></td>
    <td>$227,357</td>
    <td>$5,000</td>
    <td>$87,656</td>
  </tr>
  <tr>
    <td>35</td>
    <td></td>
    <td>$250,092</td>
    <td>$5,000</td>
    <td>$101,921</td>
  </tr>
  <tr>
    <td>36</td>
    <td></td>
    <td>$275,102</td>
    <td>$5,000</td>
    <td>$117,614</td>
  </tr>
  <tr>
    <td>37</td>
    <td></td>
    <td>$302,612</td>
    <td>$5,000</td>
    <td>$134,875</td>
  </tr>
  <tr>
    <td>38</td>
    <td></td>
    <td>$332,873</td>
    <td>$5,000</td>
    <td>$153,862</td>
  </tr>
  <tr>
    <td>39</td>
    <td></td>
    <td>$366,160</td>
    <td>$5,000</td>
    <td>$174,749</td>
  </tr>
  <tr>
    <td>40</td>
    <td></td>
    <td>$402,776</td>
    <td>$5,000</td>
    <td>$197,724</td>
  </tr>
  <tr>
    <td>41</td>
    <td></td>
    <td>$443,054</td>
    <td>$5,000</td>
    <td>$222,996</td>
  </tr>
  <tr>
    <td>42</td>
    <td></td>
    <td>$487,359</td>
    <td>$5,000</td>
    <td>$250,795</td>
  </tr>
  <tr>
    <td>43</td>
    <td></td>
    <td>$536,095</td>
    <td>$5,000</td>
    <td>$281,375</td>
  </tr>
  <tr>
    <td>44</td>
    <td></td>
    <td>$589,705</td>
    <td>$5,000</td>
    <td>$315,012</td>
  </tr>
  <tr>
    <td>45</td>
    <td></td>
    <td>$648,675</td>
    <td>$5,000</td>
    <td>$352,014</td>
  </tr>
  <tr>
    <td>46</td>
    <td></td>
    <td>$713,543</td>
    <td>$5,000</td>
    <td>$392,715</td>
  </tr>
  <tr>
    <td>47</td>
    <td></td>
    <td>$784,897</td>
    <td>$5,000</td>
    <td>$437,487</td>
  </tr>
  <tr>
    <td>48</td>
    <td></td>
    <td>$863,387</td>
    <td>$5,000</td>
    <td>$486,735</td>
  </tr>
  <tr>
    <td>49</td>
    <td></td>
    <td>$949,725</td>
    <td>$5,000</td>
    <td>$540,909</td>
  </tr>
  <tr>
    <td>50</td>
    <td></td>
    <td>$1,044,698</td>
    <td>$5,000</td>
    <td>$600,500</td>
  </tr>
  <tr>
    <td>51</td>
    <td></td>
    <td>$1,149,167</td>
    <td>$5,000</td>
    <td>$666,050</td>
  </tr>
  <tr>
    <td>52</td>
    <td></td>
    <td>$1,264,084</td>
    <td>$5,000</td>
    <td>$738,155</td>
  </tr>
  <tr>
    <td>53</td>
    <td></td>
    <td>$1,390,493</td>
    <td>$5,000</td>
    <td>$817,470</td>
  </tr>
  <tr>
    <td>54</td>
    <td></td>
    <td>$1,529,542</td>
    <td>$5,000</td>
    <td>$904,717</td>
  </tr>
  <tr>
    <td>55</td>
    <td></td>
    <td>$1,682,496</td>
    <td>$5,000</td>
    <td>$1,000,689</td>
  </tr>
  <tr>
    <td>56</td>
    <td></td>
    <td>$1,850,746</td>
    <td>$5,000</td>
    <td>$1,106,258</td>
  </tr>
  <tr>
    <td>57</td>
    <td></td>
    <td>$2,035,820</td>
    <td>$5,000</td>
    <td>$1,222,383</td>
  </tr>
  <tr>
    <td>58</td>
    <td></td>
    <td>$2,239,402</td>
    <td>$5,000</td>
    <td>$1,350,122</td>
  </tr>
  <tr>
    <td>59</td>
    <td></td>
    <td>$2,463,343</td>
    <td>$5,000</td>
    <td>$1,490,634</td>
  </tr>
  <tr>
    <td>60</td>
    <td></td>
    <td>$2,709,677</td>
    <td>$5,000</td>
    <td>$1,645,197</td>
  </tr>
</table>
</div>

Your friend could keep investing $5,000 every year until they are 500 years old and they’d never catch up with you.
