---
title: Gratitude
tags: Life
---

Today I'm grateful for the basics covered.
Our family is healthy and safe.  We have good stable jobs with amazing perks like maternity leave.  We have the loving support of parents, siblings and close friends.  We live in the lucky country.  We are achieving our goals.

Some recent setbacks aside, we've had a very good year and I choose today to focus on that.

READMORE

<q><span style="text-align:left">
Think of how stupid the average person is, and realize half of them are stupider than that.<br />
― George Carlin</span></q>

## Cars are a massive inconvenience and I want out

As of yesterday we are down to zero cars in our household because someone drove up the back of our <i>stationary</i> car.  The driver then got aggressive and argued with me about how we must of snuck up behind <i>him</i>. Idiot number one.

Someone else accidentally drove into the same car when it was parked a week earlier.  This driver was honest enough to leave his details and a note and he's lucky that the minor damage he caused has now been <i>properly</i> smashed in by idiot number one.

Our only other car has had multiple costly breakdowns over the last year.  After clocking only 100k the timing chain snapped destroying the engine beyond repair.  The second engine has had multiple faulty fuel injectors and a leaking Exhaust Gas Recirculation Cooling unit.
Our fingers are crossed that a new fuel injector will be the last thing required to get it running smoothly.

## Silver lining

Both of these cars were <i>gifts</i>, we got three years use out of them and only had to pay for the cost of a new engine and some towing.  Insurance have provided a new RAV4 for us while they assess things which is a much more comfortable and safe car for us to be traveling in on Christmas holidays.

We ordered a new car with a twelve month wait but one became available <b>nine months earlier</b> than anticipated.  Our smashed up car is likely a write-off so we'll get some extra money to put towards a much better one.

## Family

Childbirth was a wonderful experience for us.  No complications or health issues for mum and bub, a massive win.  The first week was the best week of my life and the cake trolley was off the charts.  The cheeky lad is a lot of fun, <i>most</i> of the time.  He has the cutest little face, he's gorgeous.

We were able to travel with the family from Darwin to Cairns in a Maui campervan.  Julian loved the warm water springs, rainforests and waterfalls, it was a great time to bond and explore some of our beautiful country together.  We also got to Hamilton Island in QLD.  I really appreciated that there were no cars allowed on the island, everyone gets around in golf buggies so the pollution and damage people can cause is limited.  That didn't stop someone flipping theirs upside down near our unit.  Idiot number two.

## Financial independence

Money is a taboo topic but one that's increasingly important for me.  Over the last 18 months our progress to financial independence has increased from 13.75% to 22.5%.  What this means is that we could not work for 82 days of the year and our expenses would be covered by passive income each year.  We've bought back 82 days of our time.

It might seem like we still have a long way to go, that is true but we're only planning to accumulate until we reach 50%.  Then we only need to cover our expenses and wait for compounding to do the rest of the work.  That's the plan anyway.  The purpose of this money is to buy us time and freedom and I'm feeling good about our progress towards that goal.

## Next year

In no particular order I'm looking forward to:

- A close friends wedding in Bali in January.
- A [Vipassana 10-day meditation course](https://www.dhamma.org.au/meditation.htm), something I've wanted to do for years.
- Witnessing more of Julian's firsts: walking, talking, getting up to no good.
- A new plug-in car and Australia's first 10 year warranty.
- More time with family and friends.
