
.content
  .intro
    %p Hello. I'm a front end web developer from Melbourne, Australia.  I love the web, good design and &amp; working along side talented people I can learn from.
  %p I've recently helped folks build <a href="http://tribesapp.com/">Tribes</a>, <a href="http://www.adioso.com/">Adioso</a>, <a href="http://inspire9.com/">Inspire9</a>, <a href="http://ritualize.com/">Ritualize</a>, <a href="http://obsurfation.com/">Obsurfation</a> and <a href="http://hellosundaymorning.org/">Hello Sunday Morning</a>.  For the last few years I've enjoyed working at the <a href="http://www.inspire9.com.au/">Inspire9</a> co-working space in Richmond.  I like <a href="http://gettingreal.37signals.com/">Getting Real</a> with web applications using open standards HTML, CSS, Javascript <span class="amp">&amp;</span> SVG.
  %p In February 2014 I moved to Silay City in the Philippines for a year, for fun mostly.
  %p The web will win. Web pages and applications should be made accessible to everyone, on any modern browser or device using open standards.

.aside
  .frame.media= image_tag 'me.jpg'
  #promo
    %p I'm currently living in Melbourne, Australia and working full time with <a href="http://development.inspire9.com/">Inspire9 Development</a>.
    %p Feel free to <a href="mailto:markbrown4@gmail.com">get in touch</a>.
    = # %p If you have a project in mind and need some front-end development work done please do <a href="mailto:markbrown4@gmail.com">get in touch</a>
  .tweets
