
.content
  .intro
    %p Hello. I'm a front end web developer from Melbourne, Australia.  I love the web, design, good coffee &amp; working along side talented people I can learn from.
  %p A long time ago I wrote <a href="/standards/">front end standards</a> for <a href="http://www.pageuppeople.com/">PageUp People</a> &amp; built an <a href="/super_fun/">HTML5 game</a> using SVG &amp; Canvas.
  %p I joined <a href="http://www.adioso.com/">Adioso</a> in October 2013, it's fun and also happens to be the best way to find flights for flexible travelers.
  %p Before that I had the pleasure of crafting <a href="http://inspire9.com/">Inspire9</a> and <a href="http://hellosundaymorning.org/">Hello Sunday Morning</a> with the exceptionally talented <a href="http://development.inspire9.com/">Inspire9 Development</a> team using Ruby on Rails.
  %p I like <a href="http://gettingreal.37signals.com/">Getting Real</a> with web applications using open standards HTML, CSS, Javascript <span class="amp">&amp;</span> SVG.
  %p For the last few years I've enjoyed working at the best office in Melbourne, <a href="http://www.inspire9.com.au/">Inspire9</a> in Richmond.  It's free to drop in and try out the space, if you need a place to work online for a day say hello to the friendly folk there.
  %p In February 2014 I moved to Silay City in the Philippines for eight months, for fun mostly.
  %p The web will win. Web pages and applications should be made accessible to everyone, on any modern browser or device using open standards.

.aside
  .frame.media= image_tag 'me.jpg'
  #promo
    %p I'm currently living in Silay City, Negros Occidental, Philippines and working full time for Adioso.
    %p Feel free to <a href="mailto:markbrown4@gmail.com">get in touch</a>.
    = # %p If you have a project in mind and need some front-end development work done please do <a href="mailto:markbrown4@gmail.com">get in touch</a>
  .tweets