
.content
  .intro
    %p
      Hello. I'm a front end engineer from Melbourne, Australia.
      = link_to '@markbrown4', 'https://twitter.com/markbrown4'
      on Twitter.
      I love the web, good design and &amp; working with talented people I can learn from.
  %p I've been living and working in London for the last two years and spent 2014 in the Philippines.

  %p
    I've recently helped folks build <a href="https://www.johnlewis.com/">John Lewis</a>, <a href="https://priority.o2.co.uk/">O2 Priority</a>, <a href="https://tribesapp.com/">Tribes</a>, <a href="https://www.adioso.com/">Adioso</a>, and <a href="http://hellosundaymorning.org/">Hello Sunday Morning</a>.
    The <a href="http://www.inspire9.com.au/">Inspire9</a> co-working space in Richmond has been my home when based in Melbourne.
    I like <a href="http://gettingreal.37signals.com/">Getting Real</a> with web applications using open standards HTML, CSS, JavaScript <span class="amp">&amp;</span> SVG.

  %p The web will win. Web applications should be made accessible to everyone, on any modern browser or device using open standards.

.aside
  .frame.media= image_tag 'me.jpg'
  #promo
    %p
      I'm currently enroute to Melbourne.
    %p You can get in touch with me at <a href="mailto:markbrown4@gmail.com">markbrown4@gmail.com</a>.
    = # %p If you have a project in mind and need some front-end development work done please do <a href="mailto:markbrown4@gmail.com">get in touch</a>
  .tweets
