
.content
  .intro
    %p
      Hello, I’m a Software Engineer with over
      %= Time.now.year - 2006
      years experience building web and native apps.
    %p
      Lately I’ve been working with Ruby and JavaScript helping the team at Ferocia build <a href="https://up.com.au/">Up</a>, a digital bank that customers love.  I strive to make an impact.
  %p
    I work across the stack to ship features end to end. From crafting the UI and animations to data migrations, modelling and integrating with third party APIs to responding to customer feedback.

  %p
    I’ve specialised at different times in web standards, accessibility, data visualisation and front-end engineering.  Now I consider myself a generalist.
    Getting delightful software into customers hands quickly and seeing what works is what I get a kick out of.  I build working software with readable code that's well tested.  
  %p Technology aside, I’m honest, a keen learner and enjoy growing my own food.

.aside
  .frame.media= image_tag 'me.jpg'
  #promo
    %p
      I'm currently working full time in Melbourne with the team building a better banking experience, <a href="https://up.com.au/">Up</a>.
    %p You can get in touch with me at <a href="mailto:markbrown4@gmail.com">markbrown4@gmail.com</a>.
    = # %p If you have a project in mind and need some front-end development work done please do <a href="mailto:markbrown4@gmail.com">get in touch</a>
  .tweets
