%p.intro It’s an absolute privilege to be working on the web today.

%h2 The web will win
%p HTML, CSS &amp; JavaScript will be used to create web applications for a long time. There are so many strengths that make it an ideal development platform.
%ul
  %li Huge developer &amp; user base
  %li Open technologies
  %li No installation required
  %li Adaptive to users display
  %li Fast &amp; easy to develop

%p Regardless of the platform or device, web browsers can adapt your content to the users needs.

%h2 Simple, focused software is the future
%ul
  %li Small focused teams working collaboratively
  %li Focus on the core of the application and make that ridiculously good
  %li Keep code as simple as possible and avoid preferences

%p= link_to '37 signals were right', "http://gettingreal.37signals.com/toc.php"
