#map.frame

:plain
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAvSRok3TxWdr9hF2EH8SFAf59UmjTuK6A&sensor=true"></script>
  <script>
  var defaults = {
    zoom: 2,
    disableDefaultUI: true,
    center: new google.maps.LatLng(20, 48),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var europe = Object.assign({}, options, {
    zoom: 3,
    center: new google.maps.LatLng(54.5, 15),
  });
  var options = window.location.hash == '#europe' ? europe : defaults
  var m = document.getElementById("map");
  var map = new google.maps.Map(m, options);
  var locations = [{
    title: 'Melbourne',
    pos: [-37.8131869, 144.9629796]
  },{
    title: 'Mildura',
    pos: [-34.20630060, 142.13583210]
  },{
    title: 'Adelaide',
    pos: [-34.92872640,138.59994530]
  }, {
    title: 'Sydney',
    pos: [-33.873651, 151.2068896]
  }, {
    title: 'Gold Coast',
    pos: [-28.0410141, 153.297505]
  }, {
    title: 'Cairns',
    pos: [-16.9233991, 145.773851]
  }, {
    title: 'Perth',
    pos: [-31.9528536, 115.8573389]
  }, {
    title: 'Tasmania',
    pos: [-41.6851318, 145.9526516]
  },{
    title: 'Wellington',
    pos: [-41.2864603, 174.776236]
  },{
    title: 'Grahamstown',
    pos: [-33.30566, 26.52453]
  },{
    title: 'Singapore',
    pos: [1.352083, 103.819836]
  }, {
    title: 'Kuala Lumpur',
    pos: [3.139003, 101.686855]
  },{
    title: 'Batu Caves',
    pos: [3.253582, 101.6697622]
  },{
    title: 'Penang',
    pos: [5.2632341, 100.4846227]
  },{
    title: 'Langkawi',
    pos: [6.3233, 99.8547239]
  },{
    title: 'Bangkok',
    pos: [13.7234186, 100.4762319]
  },{
    title: 'Saigon',
    pos: [10.8230989, 106.6296638]
  },{
    title: 'Hanoi',
    pos: [21.0333333, 105.85]
  },{
    title: 'Ha Long Bay',
    pos: [20.9711977, 107.0448069]
  },{
    title: 'Shanghai',
    pos: [31.230393, 121.473704]
  },{
    title: 'Hangzhou',
    pos: [30.274089, 120.155069]
  },{
    title: 'Beijing',
    pos: [39.904214, 116.407413]
  },{
    title: 'Chennai',
    pos: [13.052414, 80.250825]
  },{
    title: 'Mahabalipuram',
    pos: [12.626927, 80.192711]
  },{
    title: 'Pondicherry',
    pos: [11.932734, 79.829922]
  },{
    title: 'Tanjore',
    pos: [10.786999, 79.137827]
  },{
    title: 'Madurai',
    pos: [9.925201, 78.119775]
  },{
    title: 'Kodaikanal',
    pos: [10.238114, 77.489182]
  },{
    title: 'Kanyakumari',
    pos: [8.088306, 77.538451]
  },{
    title: 'Kovalam',
    pos: [8.400923, 76.978830]
  },{
    title: 'Kollam',
    pos: [8.880000, 76.600000]
  },{
    title: 'Allepey',
    pos: [9.498067, 76.338848]
  },{
    title: 'Kochi',
    pos: [9.931233, 76.267304]
  },{
    title: 'Mysore',
    pos: [12.295810, 76.639381]
  },{
    title: 'Bangalore',
    pos: [12.971599, 77.594563]
  },{
    title: 'Hampi',
    pos: [15.333333, 76.466667]
  },{
    title: 'Goa',
    pos: [15.299326, 74.123996]
  },{
    title: 'Mumbai',
    pos: [19.075984, 72.877656]
  },{
    title: 'Nashik',
    pos: [19.997453, 73.789802]
  },{
    title: 'Ellora',
    pos: [20.023825, 75.161834]
  },{
    title: 'Hyderabad',
    pos: [17.385044, 78.486671]
  },{
    title: 'Ahmedabad',
    pos: [23.039568, 72.566004]
  },{
    title: 'Jodhpur',
    pos: [26.238947, 73.024309]
  },{
    title: 'Jaisalmer',
    pos: [26.915749, 70.908344]
  },{
    title: 'Bikaner',
    pos: [28.019890, 73.317551]
  },{
    title: 'Amritsar',
    pos: [31.633979, 74.872264]
  },{
    title: 'Chandigarh',
    pos: [30.733315, 76.779418]
  },{
    title: 'Rishikesh',
    pos: [30.086928, 78.267612]
  },{
    title: 'Delhi',
    pos: [28.635308, 77.224960]
  },{
    title: 'Udaipur',
    pos: [24.571270, 73.691544]
  },{
    title: 'Pushkar',
    pos: [26.489749, 74.551086]
  },{
    title: 'Jaipur',
    pos: [26.912416, 75.787288]
  },{
    title: 'Agra',
    pos: [27.176670, 78.008075]
  },{
    title: 'Khajuraho',
    pos: [24.831845, 79.919855]
  },{
    title: 'Varanasi',
    pos: [25.317645, 82.973914]
  },{
    title: 'Kathmandu',
    pos: [27.700000, 85.333333]
  },{
    title: 'Pokhara',
    pos: [28.202565, 83.985008]
  },{
    title: 'Silay City',
    pos: [10.799542, 122.973287]
  },{
    title: 'Apo Island',
    pos: [9.079721, 123.271429]
  },{
    title: 'Bohol',
    pos: [9.849991, 124.143543]
  },{
    title: 'Lagazbi',
    pos: [13.139062, 123.743800]
  },{
    title: 'Cebu',
    pos: [10.315699, 123.885437]
  },{
    title: 'Manila',
    pos: [14.599512, 120.984219]
  },{
    title: 'Palawan',
    pos: [9.967216, 118.785510]
  },{
    title: 'New York',
    pos: [40.712784, -74.005941]
  },{
    title: 'Osaka',
    pos: [34.693738, 135.502165]
  },{
    title: 'Kyoto',
    pos: [35.011636, 135.768029]
  },{
    title: 'Hiroshima',
    pos: [34.385203, 132.455293]
  },{
    title: 'Takayama',
    pos: [36.146124, 137.252173]
  },{
    title: 'Tokyo',
    pos: [35.689487, 139.691706]
  },{
    title: 'Berlin',
    pos: [52.520007, 13.404954]
  },{
    title: 'London',
    pos: [51.507351, -0.127758]
  },{
    title: 'Bristol',
    pos: [51.454513, -2.587910]
  },{
    title: 'Queenstown',
    pos: [-45.031162, 168.662644]
  },{
    title: 'Christchurch',
    pos: [-43.532054, 172.636225]
  },{
    title: 'Amsterdam',
    pos: [52.370216, 4.895168]
  },{
    title: 'Whitstable',
    pos: [51.361047, 1.024256]
  }, {
    title: 'Cotswolds',
    pos: [51.768820, -2.126519]
  }, {
    title: 'Manchester',
    pos: [53.480759, -2.242631]
  }, {
    title: 'York',
    pos: [53.959965, -1.087298]
  }, {
    title: 'Leeds',
    pos: [53.800755, -1.549077]
  }, {
    title: 'Wincle',
    pos: [53.191506, -2.063202]
  }, {
    title: 'Oxford',
    pos: [51.752021, -1.257726]
  }, {
    title: 'Windemere',
    pos: [54.373931, -2.937645]
  }, {
    title: 'Keswick',
    pos: [54.601276, -3.134706]
  }, {
    title: 'Rye',
    pos: [50.949708, 0.737260]
  }, {
    title: 'Hastings',
    pos: [50.854259, 0.573453]
  }, {
    title: 'Dover',
    pos: [51.127876, 1.313403]
  }, {
    title: 'Newquay',
    pos: [50.415081, -5.075705]
  }, {
    title: 'Snowdonia',
    pos: [52.918011, -3.891220]
  }, {
    title: 'Bath',
    pos: [51.380366, -2.361524]
  }, {
    title: 'Penzance',
    pos: [50.115390, -5.536897]
  }, {
    title: 'Edinburgh',
    pos: [55.953252, -3.188267]
  }, {
    title: 'Glasgow',
    pos: [55.864237, -4.251806]
  }, {
    title: 'Loch Lomond',
    pos: [56.111368, -4.628860]
  }, {
    title: 'Dublin',
    pos: [53.349805, -6.260310]
  }, {
    title: 'Cork',
    pos: [51.896892, -8.486316]
  }, {
    title: 'Cliffs of Moher',
    pos: [52.971880, -9.426510]
  }, {
    title: 'Dingle',
    pos: [52.140939, -10.264014]
  }, {
    title: 'Galway',
    pos: [53.270668, -9.056791]
  }, {
    title: 'Brussels',
    pos: [50.850346, 4.351721]
  }, {
    title: 'Bruges',
    pos: [51.209348, 3.224700]
  }, {
    title: 'Kortrijk',
    pos: [50.819478, 3.257726]
  }, {
    title: 'Paris',
    pos: [48.856614, 2.352222]
  }, {
    title: 'Como',
    pos: [45.808060, 9.085176]
  }, {
    title: 'Milan',
    pos: [45.464204, 9.189982]
  }, {
    title: 'Venice',
    pos: [45.440847, 12.315515]
  }, {
    title: 'Padua',
    pos: [45.406435, 11.876761]
  }, {
    title: 'Bologna',
    pos: [44.494887, 11.342616]
  }, {
    title: 'Pisa',
    pos: [43.722839, 10.401689]
  }, {
    title: 'Florence',
    pos: [43.769560, 11.255814]
  }, {
    title: 'San Gimignano',
    pos: [43.467632, 11.043491]
  }, {
    title: 'Cinque Terra',
    pos: [44.463344, 10.417708]
  }, {
    title: 'Rome',
    pos: [41.902783, 12.496366]
  }, {
    title: 'Pompeii',
    pos: [40.746157, 14.498934]
  }, {
    title: 'Naples',
    pos: [40.851775, 14.268124]
  }, {
    title: 'Amalfi',
    pos: [40.634003, 14.602681]
  }, {
    title: 'Positano',
    pos: [40.628053, 14.484981]
  }, {
    title: 'Sorrento',
    pos: [40.626292, 14.375798]
  }, {
    title: 'Capri',
    pos: [40.550690, 14.242800]
  }, {
    title: 'Copenhagen',
    pos: [55.676097, 12.568337]
  }, {
    title: 'Malmö',
    pos: [55.604981, 13.003822]
  }, {
    title: 'Budapest',
    pos: [47.497912, 19.040235]
  }, {
    title: 'Barcelona',
    pos: [41.385064, 2.173403]
  }, {
    title: 'Bilbao',
    pos: [43.263013, -2.934985]
  }, {
    title: 'San Sebastian',
    pos: [43.318334, -1.981231]
  }, {
    title: 'Madrid',
    pos: [40.416775, -3.703790]
  }, {
    title: 'Cordoba',
    pos: [37.888175, -4.779383]
  }, {
    title: 'Seville',
    pos: [37.389092, -5.984459]
  }, {
    title: 'Granada',
    pos: [37.177336, -3.598557]
  }, {
    title: 'Lisbon',
    pos: [38.722252, -9.139337]
  }, {
    title: 'Sintra',
    pos: [38.802913, -9.381649]
  }, {
    title: 'Bucharest',
    pos: [44.426767, 26.102538]
  }, {
    title: 'Bran',
    pos: [45.519192, 25.369683]
  }, {
    title: 'Sighisora',
    pos: [46.219702, 24.796388]
  }, {
    title: 'Sibiu',
    pos: [45.798327, 24.125583]
  }, {
    title: 'Casablanca',
    pos: [33.573110, ]
  }, {
    title: 'Fes',
    pos: [34.018125, -5.007845]
  }, {
    title: 'Todra Gorge',
    pos: [31.523500, -5.527647]
  }, {
    title: 'Marrakech',
    pos: [31.629472, -7.981084]
  }, {
    title: 'Merzouga',
    pos: [31.080168, -4.013361]
  }, {
    title: 'Keflavik',
    pos: [63.999755, -22.558272]
  }, {
    title: 'Reykyavik',
    pos: [64.126521, -21.817439]
  }, {
    title: 'Ólafsvík',
    pos: [64.896048, -23.706026]
  }, {
    title: 'Gulfoss',
    pos: [64.327072, -20.119948]
  }, {
    title: 'Tallinn',
    pos: [59.430885, 24.740769]
  }, {
    title: 'Tartu',
    pos: [58.360697, 26.727757]
  }, {
    title: 'Viljandi',
    pos: [58.360563, 25.580523]
  }, {
    title: 'Sigulda',
    pos: [57.149563, 24.860333]
  }, {
    title: 'Riga',
    pos: [56.949649, 24.105186]
  }, {
    title: 'Hill of Crosses',
    pos: [56.015278, 23.416668]
  }, {
    title: 'Klaipeda',
    pos: [55.703295, 21.144280]
  }, {
    title: 'Kaunas',
    pos: [54.898521, 23.903597]
  }, {
    title: 'Vilnius',
    pos: [54.687156, 25.279651]
  }, {
    title: 'Prague',
    pos: [50.075538, 14.437800]
  }, {
    title: 'Krakow',
    pos: [50.064650, 19.944980]
  }, {
    title: 'Ljubljana',
    pos: [46.056947, 14.505751]
  }, {
    title: 'Bled',
    pos: [46.368327, 14.114580]
  }, {
    title: 'Zagreb',
    pos: [45.815011, 15.981919]
  }, {
    title: 'Plitvice',
    pos: [44.865397, 15.582012]
  }, {
    title: 'Split',
    pos: [43.508132, 16.440193]
  }, {
    title: 'Dubrovnik',
    pos: [42.650661, 18.094424]
  }, {
    title: 'Kotor',
    pos: [42.424662, 18.771234]
  }, {
    title: 'Tirana',
    pos: [41.327546, 19.818698]
  }, {
    title: 'Athens',
    pos: [37.983810, 23.727539]
  }, {
    title: 'Milos',
    pos: [36.691446, 24.393566]
  }, {
    title: 'Santorini',
    pos: [36.393156, 25.461509]
  }, {
    title: 'Kos',
    pos: [36.8915, 27.2877]
  }, {
    title: 'Bodrum',
    pos: [37.0344, 27.4305]
  }, {
    title: 'Selcuk',
    pos: [37.9508, 27.3700]
  }, {
    title: 'Pamukkale',
    pos: [37.9137, 29.1187]
  }, {
    title: 'Fethiye',
    pos: [36.6592, 29.1263]
  }, {
    title: 'Antalya',
    pos: [36.8969, 30.7133]
  }, {
    title: 'Konya',
    pos: [37.8746, 32.4932]
  }, {
    title: 'Cappadocia',
    pos: [38.6689, 34.8368]
  }, {
    title: 'Istanbul',
    pos: [41.0082, 28.9784]
  }, {
    title: 'Gallipoli',
    pos: [40.0559, 17.9926]
  }, {
    title: 'St Petersburg',
    pos: [59.9343, 30.3351]
  }, {
    title: 'Moscow',
    pos: [55.7558, 37.6173]
  }, {
    title: 'Irkutsk',
    pos: [52.2870, 104.3050]
  }, {
    title: 'Ulan Ude',
    pos: [51.8239, 107.6073]
  }, {
    title: 'Ulan Bator',
    pos: [47.8864, 106.9057]
  }, {
    title: 'Hong Kong',
    pos: [22.3964, 114.1095]
  }, {
    title: 'Sandakan',
    pos: [5.8394, 118.1172]
  }, {
    title: 'Semporna',
    pos: [4.4794, 118.6115]
  }, {
    title: 'Mabul',
    pos: [4.2457, 118.6316]
  }];

  for (var i=0, ii=locations.length; i<ii; i++) {
    var l = locations[i];
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(l.pos[0], l.pos[1]),
      title: l.title
    });
    marker.setMap(map);
  }
  </script>
