#map.frame
%p.intro I am extremely grateful for the opportunity to see the world, it is one of the greatest privileges.
:plain
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAvSRok3TxWdr9hF2EH8SFAf59UmjTuK6A&sensor=true"></script>
  <script>
  var m = document.getElementById("map");
  var map = new google.maps.Map(m, {
    zoom: 2,
    disableDefaultUI: true,
    center: new google.maps.LatLng(9, 48),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var locations = [{
    title: 'Melbourne',
    pos: [-37.8131869, 144.9629796]
  },{
    title: 'Mildura',
    pos: [-34.20630060, 142.13583210]
  },{
    title: 'Adelaide',
    pos: [-34.92872640,138.59994530]
  }, {
    title: 'Sydney',
    pos: [-33.873651, 151.2068896]
  }, {
    title: 'Gold Coast',
    pos: [-28.0410141, 153.297505]
  }, {
    title: 'Cairns',
    pos: [-16.9233991, 145.773851]
  }, {
    title: 'Perth',
    pos: [-31.9528536, 115.8573389]
  }, {
    title: 'Tasmania',
    pos: [-41.6851318, 145.9526516]
  },{
    title: 'Wellington',
    pos: [-41.2864603, 174.776236]
  },{
    title: 'Grahamstown',
    pos: [-33.30566, 26.52453]
  },{
    title: 'Singapore',
    pos: [1.352083, 103.819836]
  }, {
    title: 'Kuala Lumpur',
    pos: [3.139003, 101.686855]
  },{
    title: 'Batu Caves',
    pos: [3.253582, 101.6697622]
  },{
    title: 'Penang',
    pos: [5.2632341, 100.4846227]
  },{
    title: 'Langkawi',
    pos: [6.3233, 99.8547239]
  },{
    title: 'Bangkok',
    pos: [13.7234186, 100.4762319]
  },{
    title: 'Saigon',
    pos: [10.8230989, 106.6296638]
  },{
    title: 'Hanoi',
    pos: [21.0333333, 105.85]
  },{
    title: 'Ha Long Bay',
    pos: [20.9711977, 107.0448069]
  },{
    title: 'Shanghai',
    pos: [31.230393, 121.473704]
  },{
    title: 'Hangzhou',
    pos: [30.274089, 120.155069]
  },{
    title: 'Beijing',
    pos: [39.904214, 116.407413]
  },{
    title: 'Chennai',
    pos: [13.052414, 80.250825]
  },{
    title: 'Mahabalipuram',
    pos: [12.626927, 80.192711]
  },{
    title: 'Pondicherry',
    pos: [11.932734, 79.829922]
  },{
    title: 'Tanjore',
    pos: [10.786999, 79.137827]
  },{
    title: 'Madurai',
    pos: [9.925201, 78.119775]
  },{
    title: 'Kodaikanal',
    pos: [10.238114, 77.489182]
  },{
    title: 'Kanyakumari',
    pos: [8.088306, 77.538451]
  },{
    title: 'Kovalam',
    pos: [8.400923, 76.978830]
  },{
    title: 'Kollam',
    pos: [8.880000, 76.600000]
  },{
    title: 'Allepey',
    pos: [9.498067, 76.338848]
  },{
    title: 'Kochi',
    pos: [9.931233, 76.267304]
  },{
    title: 'Mysore',
    pos: [12.295810, 76.639381]
  },{
    title: 'Bangalore',
    pos: [12.971599, 77.594563]
  },{
    title: 'Hampi',
    pos: [15.333333, 76.466667]
  },{
    title: 'Goa',
    pos: [15.299326, 74.123996]
  },{
    title: 'Mumbai',
    pos: [19.075984, 72.877656]
  },{
    title: 'Nashik',
    pos: [19.997453, 73.789802]
  },{
    title: 'Ellora',
    pos: [20.023825, 75.161834]
  },{
    title: 'Hyderabad',
    pos: [17.385044, 78.486671]
  },{
    title: 'Ahmedabad',
    pos: [23.039568, 72.566004]
  },{
    title: 'Jodhpur',
    pos: [26.238947, 73.024309]
  },{
    title: 'Jaisalmer',
    pos: [26.915749, 70.908344]
  },{
    title: 'Bikaner',
    pos: [28.019890, 73.317551]
  },{
    title: 'Amritsar',
    pos: [31.633979, 74.872264]
  },{
    title: 'Chandigarh',
    pos: [30.733315, 76.779418]
  },{
    title: 'Rishikesh',
    pos: [30.086928, 78.267612]
  },{
    title: 'Delhi',
    pos: [28.635308, 77.224960]
  },{
    title: 'Udaipur',
    pos: [24.571270, 73.691544]
  },{
    title: 'Pushkar',
    pos: [26.489749, 74.551086]
  },{
    title: 'Jaipur',
    pos: [26.912416, 75.787288]
  },{
    title: 'Agra',
    pos: [27.176670, 78.008075]
  },{
    title: 'Khajuraho',
    pos: [24.831845, 79.919855]
  },{
    title: 'Varanasi',
    pos: [25.317645, 82.973914]
  },{
    title: 'Kathmandu',
    pos: [27.700000, 85.333333]
  },{
    title: 'Pokhara',
    pos: [28.202565, 83.985008]
  },{
    title: 'Silay City',
    pos: [10.799542, 122.973287]
  },{
    title: 'Apo Island',
    pos: [9.079721, 123.271429]
  },{
    title: 'Bohol',
    pos: [9.849991, 124.143543]
  },{
    title: 'Lagazbi',
    pos: [13.139062, 123.743800]
  },{
    title: 'Cebu',
    pos: [10.315699, 123.885437]
  },{
    title: 'Manila',
    pos: [14.599512, 120.984219]
  },{
    title: 'Palawan',
    pos: [9.967216, 118.785510]
  },{
    title: 'New York',
    pos: [40.712784, -74.005941]
  },{
    title: 'Osaka',
    pos: [34.693738, 135.502165]
  },{
    title: 'Kyoto',
    pos: [35.011636, 135.768029]
  },{
    title: 'Hiroshima',
    pos: [34.385203, 132.455293]
  },{
    title: 'Takayama',
    pos: [36.146124, 137.252173]
  },{
    title: 'Tokyo',
    pos: [35.689487, 139.691706]
  }];

  for (var i=0, ii=locations.length; i<ii; i++) {
    var l = locations[i];
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(l.pos[0], l.pos[1]),
      title: l.title
    });
    marker.setMap(map);
  }
  </script>
